.ricepaper
{
    float:left;
    position:relative;
    margin-top:20px;
    margin-left:20px;
    width:400px;
    height:400px;
    border:1px solid black;
}

.inputTextChar
{
    
}

.submitChar
{

}

.stele {
    position:relative;

    width:400px;
    height:400px;
    border:1px solid black;
}


#charContainer {
	float:left;
	position:relative;
	margin-left:20px;
	margin-top:20px;
}
#charactersDiv {
	float:left;
	height:350px;
	margin-left:10px;
	padding:5px;
	width:165px;
	overflow:auto;
}



#submitBut {
	float: left;
}

#clearBut {
	float: left;
}
.charbox
{
	border:1px solid #000000;
	float:left;
	font-size:3em;
	height:50px;
	margin:5px;
	padding:5px;
	text-align:center;
	width:50px;
}

.clear {
	clear:both;
}
