/*=====================
Tegaki CSS Structure
----------------------

----------------------
|-Default Overrides  |
|-Layout / Div Style |
|-Reusable Classes   |
---------------------|

Colors
------
1. Browish - #7A6A53


======================*/
html { margin: 0; padding: 0; }
body {
    background:#D9CEB2;
    color:#343434;
    font-family:"trebuchet ms",tahoma,arial,verdana,sans-serif !important;
    font-size:.9em;
    margin:0 auto !important;
}
ul {margin:0; padding:0;}
li {list-style:none; padding:0;}
a { 
    border-bottom:1px dotted #6B9199;
    color:#6B9199;
    font-weight:bold;
    padding:1px 3px;
    text-decoration:none;
}
a:hover {
    background:#D5DED9;
    border:none;
    color:#6B9199;
    -moz-border-radius:3px;
    padding:1px 3px;
}

p {margin:5px 0;}

h1,h2,h3 {font-size:1em; margin:0; padding:0;}
/*==================
    Site Layout
====================*/
/*----------------
Site Wrapper
----------------*/
#site_wrapper {
    margin:0 auto;
    width:974px;
}
/*----------------
Header 
----------------*/
#header_wrapper {
    height:75px;
    position:relative;
}
    #logo {
        font-size:3em;
    }
    #header_user_wrapper {
        background:#7A6A53;
        height:48px;
        -moz-border-radius:3px;
        padding:3px;
        position:absolute;
        right:0;
        text-align:right;
        top:0;
        width:200px;
    }
        #header_user_info {
            background:#dedede;
            font-size:.9em;
            -moz-border-radius:3px;
            padding:5px;
        }
        #header_user_info br {
            margin:0 0 10px 0;
        }
/*------------------
Content
-------------------*/
    /*------------------
    (Left) Sidebar Wrapper
    ------------------*/
    #leftside_wrapper {
        float:left;
        width:174px;
    }
        .sidebar_wrapper {
            background:#7A6A53;
            margin:0 10px 10px 0;
            -moz-border-radius:3px;
            padding:3px;        
        }
        .sidebar_wrapper h1 {
            color:#efefef;
            font-size:1em;
            font-weight:bold;
            margin:5px 0;
        }
        .sidebar_wrapper a {
            background:#6B9199;
            border:none;
            color:#efefef;
            -moz-border-radius:3px;
        }
            .sidebar_inner {
                background:#efefef;
                font-size:.9em;
                -moz-border-radius:2px;   
                padding:2px;
            }
        .sidebar_links li {
            margin:0 0 10px 0;
        }        
        .sidebar_links li a{
            display:block;
            padding:1px 0 1px 3px;
            width:98%;
        }
        .sidebar_links li a:hover{
            background:#D5DED9;
            color:#343434;
            -moz-border-radius:3px;
        }
        .sidebar_links .cur_link a{
            background:#D5DED9 !important;
            color:#343434 !important;
            -moz-border-radius:3px;
        }       

        /*----News-----*/
        #news_list{

        } 


    /*------------------
    Right Side
    ------------------*/
    #right_side_wrapper {
        background:#7A6A53;
        float:left;
        -moz-border-radius:3px;
        width:800px;
    }
        #right_side {
            background:#efefef;
            margin:3px;
            -moz-border-radius:3px;
            padding:5px 5px 15px 5px;
        }

        #footer_wrapper {
            background:#efefef;
            font-size:.9em;
            margin:3px;
            -moz-border-radius:3px;
            padding:5px;
            text-align:right;
        }

    /*---BreadCrumbs-------*/
    #bread_crumbs {
        background:#efefef;
        font-size:.9em;
        margin:3px;
        -moz-border-radius:3px;
        padding:4px 5px;
    }
        .active-crumb {
            background:#dedede !important;
            margin:0 5px 0 0;
            -moz-border-radius:3px;
            padding:0 5px;
        }
        
    /*---Content-----*/
    #content h1 {
        background:#7A6A53;
        color:#efefef;
        font-size:1.7em;
        font-weight:bold;
        margin:0 0 20px 0;
        -moz-border-radius:3px;
        padding:7px;
    }



/*------------------
Individual Pages
-------------------*/
    /*----------------
    HWDB Page
    -----------------*/
        #hwdbContent h2{
            font-size:1.2em;
            margin:0 0 5px 0;
        }
        #hwdbContent p {
            background-color:#ffffff;
            border:1px solid #D5DED9;
            font-size:.9em;
            margin:7px;
            padding:3px;
        }

    /*----------------
    Input Page
    -----------------*/
    #input_wrapper h1{
        margin:0 0 5px 0;    
    }
        #input_header_charset {
            font-size:.9em;
            position:relative;
            text-align:right;
        }
            #input_header_charset a {
                background:#6B9199;
                color:#efefef;
                margin:2px 0;
                -moz-border-radius:3px;
                padding:1px 3px; 
            }
            #input_header_charset a:hover {
                background:#dedede;
                color:#343434;
            }
            .cur_content_link a{
                background:#D5DED9 !important;
                border:none !important;
                color:#343434 !important;
                margin:2px 0;
                -moz-border-radius:3px;
                padding:0 3px;
            }
            .cur_content_link a:hover{
                background:#dedede !important;
            }
    #char {
        font-size:5em;
    }



/*------------------
Reusable Classes
-------------------*/
.clear { clear:both; }
