{% extends "base/base.html" %}

{% block bread_crumbs %}
        <a href="{% url hwdb %}">Home</a> :: <a href="{% url hwdb-charsets %}">Character Sets</a> ::
                <span class="active-crumb">Create Character Set</span>
{% endblock %}

{% block charsets_li_class %}class="cur_link"{% endblock %}

{% block title %}Create A Character Set - Tegaki-db{% endblock %}

{% block content %}

<div class='user-create-charset'>
<h1>Create Character Set</h1>
<form method='post' action='.'>

{{ form.as_p }}

<input type="submit" value="Create" />
</form>
</div>

{% endblock %}
