{% extends "base/base.html" %}

{% block bread_crumbs %}
        <a href="{% url hwdb %}">Home</a> :: <a href="{% url hwdb-charsets %}">Character Sets</a> ::
                <span class="active-crumb">Edit Character Set</span> <span class="active-crumb">{{charset.name}}</span>
{% endblock %}

{% block charsets_li_class %}class="cur_link"{% endblock %}

{% block title %}Edit Character Set: {{charset.name }}  - Tegaki-db{% endblock %}

{% block extrahead %}
<link href="{{MEDIA_URL}}css/hwdb.css" type="text/css" rel="stylesheet" />

<script type="text/javascript">
function selectCS()
{
    dojo.xhrPost({
        url: "{% url hwdb-select-charset %}",
        postData: "id={{ charset.id }}",
        load: function(data){
            //console.log(data)
        var selector = document.getElementById('selector');
        console.log(selector);
        console.log(selector.value);
        selector.value = 'Selected';
        selector.class = 'charset_selected';
        console.log(selector);
        }
    });
}
</script>
{% endblock %}

{% block content %}

<div class='user-edit-charset'>
    <h1>{{charset.name}} </h1>

    <form method='post' action='.'>
    {% ifequal charset request.session.current_charset %}
    <input class="charset_selected" type="button" id="selector" name="selector" value="Selected" />
    {%else%}
    <input class="charset_unselected"type="button" id="selector" name="selector" value="Select" onclick="selectCS();" />
    {%endifequal%}
        {{ form.as_p }}

        {{ charset.display_characters }}
        <input type="submit" value="Update" />
        <input type="hidden" id="id" name="id" value="{{charset.id}}" />
</form>
</div>

{% endblock %}
