{% extends "base/base.html" %}

{% block bread_crumbs %}
        <a href="{% url index %}">Home</a> ::
                <span class="active-crumb">HWDB</span>
{% endblock %}


{% block title %}Tegaki-db - HWDB{% endblock %}
{% block extrahead %}
{% endblock %}

{% block content %}
<h1>HWDB</h1>
<p><a href="{% url hwdb-recognize %}">Recognize</a></p>
<p><a href="{% url hwdb-samples %}">Samples</a></p>
<p><a href="{% url hwdb-input %}">Input</a>
{% if request.session.current_charset %}
(Current Character Set: <a href="{% url hwdb-view-charset %}?id={{ request.session.current_charset.id }}">{{request.session.current_charset}}</a> )
{% else %}
No Character Set Selected,<a href="{% url hwdb-charsets %}">Select A Charset</a> or <a href="{% url hwdb-create-charset %}">Create A Character Set</a></p>
{% endif %}
</p>
<p><a href="{% url hwdb-charsets %}">Character Sets</a></p>


{% endblock %}
