{% extends "base/base.html" %}



{% block bread_crumbs %}
    <a href="{% url hwdb %}">Home</a> :: <span class="active-crumb">Samples</span>
{% endblock %}

{% block samples_li_class %}class="cur_link"{% endblock %}


{% load dojango_grid %}

{% block content %}

<h1> Samples</h1>
<p><a href="{% url hwdb-input %}">Input A Sample</a></p>
<div >

    <div class="datagrid">
        {% datagrid %}
            json_store_url = '{% url hwdb-samples-datagrid %}'
            list_display = ('character__utf8','character__lang__description', 'date', 'character_set__name', 'user__username')
            label = { 'user__username': 'User', 'character__lang__description':'Language', 'date':'Date Entered', 'character_set__name':'Character Set', 'character__utf8':'Unicode'}
            search = ('user__username__icontains', 'lang__description__icontains', 'character__utf8__exact', 'character_set__name__icontains')
            height='500px'
            id='samples'
        {% enddatagrid %}

    <script type="text/javascript">

    //set the user's charset to the one clicked on
    dojo.addOnLoad(function(){
        dg = dojango._datagrid.samples
        dg.selection.onSelected = function(idx) {
            item = dg.getItem(idx);
            /*dojo.xhrPost({
                url: "{% url hwdb-select-charset %}",
                postData: "id=" + item.i.id,
                load: function(data){
                    console.log(data)
                }
            });
            */
            window.location = "{% url hwdb-view-sample %}?id=" + item.i.id;

        };
    })

    </script>

    </div>

</div>


{% endblock %}

