{% extends "base/base.html" %}

{% block bread_crumbs %}
        <a href="{% url hwdb %}">HWDB</a> :: <a href="{% url hwdb-charsets %}">Character Sets</a> ::
                <span class="active-crumb">Character Set - {{charset.name}}</span>
{% endblock %}


{% block title %}Tegaki-db - Character Set: {{charset.name}}{% endblock %}

{% block extrahead %}
<script type="text/javascript">
function selectCS()
{
dojo.xhrPost({
            url: "{% url hwdb-select-charset %}",
            postData: "id={{ charset.id }}",
            load: function(data){
                //console.log(data)
            }
        });
}
</script>
{% endblock %}



{% block content %}

<div class='view-charset'>
<p>Name: {{ charset.name }}</p>
<p>Language: {{charset.lang.description}}</p>
<p>Description: {{charset.description}}</p>
<p>Characters: {{charset.characters}}</p>
{% if charset.user %}
<p>User: {{charset.user.username }}
{% endif %}
<input type="button" id="selector" name="selector" value="Select" onclick="selectCS();" />
</div>

{% endblock %}
