<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}Tegaki-db{% endblock %}</title>
    {% block extrahead %} {% endblock %}
</head>

<body onload="{% block onload %}{% endblock %}">
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/tegaki/">Home</a></li>
            <li><a href="/tegaki/news/">News</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
