<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"{% block _dojango_html_lang %}{% endblock %}>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>{% block title %}Tegaki-db{% endblock %}</title>
    <link href="{{MEDIA_URL}}css/style.css" type="text/css" rel="stylesheet" />

    {% include "dojango/include.html" %}
    
    {% block extrahead %} {% endblock %}
</head>


<body onload="{% block onload %}{% endblock %}" class="{{ DOJANGO.THEME }}">

<div id="site_wrapper">
    <div id="header">
        {% block display_header %}
        {% if user.username %}
            Welcome: {{ user.username }}<br>
            <a href="{% url logout %}">Logout</a>
        {% else %}
            <a href="{% url login %}?next={{ request.path }}">Login</a> <a href="{% url register %}?next={{ request.path }}">Register</a>
        {% endif %}
        {% endblock %}
    </div>


    <div id="content_wrapper">
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="{% url index %}">Home</a></li>
            <li><a href="{% url news %}">News</a></li>
            <li><a href="{% url hwdb %}">HWDB</a></li>
            <li><a href="{% url users %}">Users</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div style="clear:both"></div>
    </div>
</div>
        {% block dojango_require %}
                <script type="text/javascript">
                        {% for require in DOJANGO.COLLECTOR %}
                                {% spaceless %}
                                        dojo.require("{{ require }}");
                                {% endspaceless %}
                        {% endfor %}            
                </script>
        {% endblock %}
</body>
</html>
