{% extends "base/base.html" %}

{% block bread_crumbs %}
        <a href="{% url index %}">Home</a> ::
                <span class="active-crumb"> Users</span>
{% endblock %}

{% block user_li_class %}class="cur_link"{% endblock %}


{% load dojango_grid %}

{% block content %}

<h1>Users</h1>
<div>
    <div class="datagrid">
        {% datagrid %}
            json_store_url = '{% url user-list-datagrid %}'
            list_display = ('user__username', 'country', 'lang__description', 'description', 'n_handwriting_samples')
            label = { 'user__username': 'Username', 'country':'Country', 'lang__description':'Language', 'description':'Description', 'n_handwriting_samples': '# of Handwriting Samples'}
            search = ('user__username__icontains', 'country__icontains', 'lang__description__icontains', 'description__icontains')
            nosort = ['description']
            height='500px'
            id='users'
        {% enddatagrid %}

    <script type="text/javascript">

    dojo.addOnLoad(function(){
        dg = dojango._datagrid.users
        dg.selection.onSelected = function(idx) {
            item = dg.getItem(idx);
            {% url user-profile 1 as up %}
            window.location = "{{ up|cut:"1/" }}" + item.i.id;
        };
    })

    </script>
    </div>


</div>


{% endblock %}

